In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('CKD.csv')

In [3]:
data.isna().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [4]:
def selectkbest(indep,dep,n):
    
    test=SelectKBest(score_func=chi2,k=n)
    fit1=test.fit(indep,dep)
    selectk_feature=fit1.transform(indep)
    return selectk_feature

In [5]:
def split_scaler(indep,dep):
    x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.25,random_state=0)
    sc=StandardScaler()
    x_train=sc.fit_transform(x_train)
    x_test=sc.transform(x_test)
    return x_train,x_test,y_train,y_test

In [6]:
def cm_prediction(classifier,x_test):
    y_pred=classifier.predict(x_test)

    from sklearn.metrics import confusion_matrix
    cm=confusion_matrix(y_test,y_pred)
    from sklearn.metrics import accuracy_score
    from sklearn.metrics import classification_report
    accuracy=accuracy_score(y_test,y_pred)
    report= classification_report(y_test,y_pred)
    return cm,accuracy,report,x_test,y_test,classifier

In [21]:
def logistic(x_train,y_train,x_test):
    from sklearn.linear_model import LogisticRegression
    classifier =LogisticRegression()
    classifier.fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [8]:
def svm_linear(x_train,y_train,x_test):
    from sklearn.svm import SVC
    classifier =SVC(kernel='linear',random_state=0)
    classifier.fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [9]:
def svmnl(x_train,y_train,x_test):
    from sklearn.svm import SVC 
    classifier = SVC(kernel='rbf',random_state=0)
    classifier.fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [10]:
def Naive(x_train,y_train,x_test):
    from sklearn.naive_bayes import GaussianNB
    classifier=GaussianNB()
    classifier.fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [11]:
def knn(x_train,y_train,x_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski' ,p=2)
    classifier.fit(x_train, y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [12]:
def des(x_train,y_train,x_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion='entropy')
    classifier .fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [13]:
def rf(x_train,y_train,x_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier =RandomForestClassifier(n_estimators=10,criterion='entropy')
    classifier.fit(x_train,y_train)
    cm,accuracy,report,x_test,y_test,classifier=cm_prediction(classifier,x_test)
    return cm,accuracy,report,x_test,y_test,classifier

In [28]:
def selectk_classification(acclog,accsvml,accsvmnl,accnaive,accknn,accdecision,accrandom):
    dataframe=pd.DataFrame(index=['chisquare'],columns=['Logistic','SVML','SVMNL','Naive','KNN','Decision','Random'])
    for number,index in enumerate(dataframe.index):
        dataframe['Logistic'][index]=acclog[number]
        dataframe['SVML'][index]=accsvml[number]
        dataframe['SVMNL'][index]=accsvmnl[number]
        dataframe['Naive'][index]=accnaive[number]
        dataframe['KNN'][index]=accknn[number]
        dataframe['Decision'][index]=accdecision[number]
        dataframe['Random'][index]=accrandom[number]
        return dataframe

In [15]:
df1=data

df1=pd.get_dummies(df1,drop_first=True)
df1

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [16]:
indep=df1.drop('classification_yes',axis=1)
dep=df1['classification_yes']

In [49]:
kbest= selectkbest(indep,dep,5)

In [50]:
acclog=[]
accsvml=[]
accsvmnl=[]
accnaive=[]
accknn=[]
accdecision=[]
accrandom=[]

In [51]:
x_train,x_test,y_train,y_test=split_scaler(kbest,dep)

In [52]:
cm,accuracy,report,x_test,y_test,classifier=logistic(x_train,y_train,x_test)
acclog.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=svm_linear(x_train,y_train,x_test)
accsvml.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=svmnl(x_train,y_train,x_test)
accsvmnl.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=Naive(x_train,y_train,x_test)
accnaive.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=knn(x_train,y_train,x_test)
accknn.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=des(x_train,y_train,x_test)
accdecision.append(accuracy)

cm,accuracy,report,x_test,y_test,classifier=rf(x_train,y_train,x_test)
accrandom.append(accuracy)

C:\Users\venka\anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\venka\anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\venka\anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\venka\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\venka\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [29]:
result=selectk_classification(acclog,accsvml,accsvmnl,accnaive,accknn,accdecision,accrandom)
result
#3

          Logistic  SVML SVMNL Naive   KNN Decision Random
chisquare     0.82  0.82  0.82   0.8  0.85     0.86   0.85

In [43]:
result=selectk_classification(acclog,accsvml,accsvmnl,accnaive,accknn,accdecision,accrandom)
result
#6

          Logistic  SVML SVMNL Naive   KNN Decision Random
chisquare     0.96  0.96  0.96  0.89  0.93     0.97   0.97

In [48]:
result=selectk_classification(acclog,accsvml,accsvmnl,accnaive,accknn,accdecision,accrandom)
result
#4

          Logistic  SVML SVMNL Naive   KNN Decision Random
chisquare     0.85  0.82  0.83  0.79  0.86     0.88   0.92

In [53]:
result=selectk_classification(acclog,accsvml,accsvmnl,accnaive,accknn,accdecision,accrandom)
result
#5

          Logistic  SVML SVMNL Naive   KNN Decision Random
chisquare     0.94  0.94  0.95  0.83  0.89     0.94   0.96